<body>
    <br>
    <h1 style="text-align: center;">Contact my team</h1>
    <br>

    <div class="row">
        <div class="column">
            <div class="card">
            <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.0-9/69716626_2337934593124810_2670893672932835328_n.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=bsMqHhI3OLwAX-QZumH&_nc_ht=scontent.fsgn2-5.fna&oh=e14c0e9531e17b804b7bdee82cf8cfb4&oe=5F055435" style="width:100%; height:300px;">
            <div class="container">
                <h2>Tuấn Kiệt</h2>
                <p class="title">Back-end developer</p>
                <p></p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.15752-9/p1080x2048/83511007_586908612230599_5242649003373679809_n.jpg?_nc_cat=100&_nc_sid=b96e70&_nc_ohc=4B2VEb1U31YAX8v2I7x&_nc_ht=scontent.fsgn2-6.fna&_nc_tp=6&oh=c1aaec496645c226876daf9e3802e471&oe=5F0462FE" style="width:100%; height:300px;">
            <div class="container">
                <h2>Hưng Thịnh</h2>
                <p class="title">Designer</p>
                <p> </p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
            <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.0-9/83174776_778362692642182_106391901904568320_o.jpg?_nc_cat=104&_nc_sid=8bfeb9&_nc_ohc=VpSIOfUVR_8AX9UWLAS&_nc_ht=scontent.fsgn2-5.fna&oh=c75e4e3a3a918d8fdf3469f58a82218f&oe=5F056946" style="width:100%; height:300px;">
            <div class="container">
                <h2>Thanh Nhã</h2>
                <p class="title">Art Director</p>
                <p> </p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/90220596_695145387955733_1803952123348516864_o.jpg?_nc_cat=105&_nc_sid=09cbfe&_nc_ohc=YzR4hRGSxhoAX_Lunas&_nc_ht=scontent.fsgn2-1.fna&oh=e32cceb7494de4f9133705c28ef9b6d8&oe=5F02216E" style="width:100%; height:300px;">
            <div class="container">
                <h2>Đan Phương</h2>
                <p class="title">Database</p>
                <p> </p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.0-9/78591695_2371854339730963_409655552650510336_n.jpg?_nc_cat=100&_nc_sid=09cbfe&_nc_ohc=ZX5c_zk52RcAX_v9Wuo&_nc_ht=scontent.fsgn2-6.fna&oh=0374d22a877d944ed8087af427bf7202&oe=5F044329" style="width:100%; height:300px;">
            <div class="container">
                <h2>Minh Truyền</h2>
                <p class="title">Designer</p>
                <p> </p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
            </div>
        </div>
    </div>
</body>