<h1 id="tableLabel">Danh mục</h1>
<div *ngIf = "checkLoading == false" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<button *ngIf = "checkLoading == true" type="button" class="btn btn-outline-dark" (click)="openCreateUpdateModal(false, null)" >Thêm danh mục mới</button>
<br/>
<div *ngIf = "checkLoading == true" class="row" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="col-2"><h5>Cài đặt</h5></div>
  <div class="col-2">Kích thước bảng: </div>
  <div class="col-1"><input class="form-control" [(ngModel)]="size"/> </div>
  <div class="col-2">Trang thứ: </div>
  <div class="col-1"><input class="form-control" [(ngModel)]="page"/> </div>
  <div class="col-1">Từ khóa: </div>
  <div class="col-1"><input class="form-control" [(ngModel)]="keyWord"/> </div>
  <div class="col-2"><button (click) = " searchCategories() " type="button" class="btn btn-dark">Xác nhận</button></div>
</div>

<h1 *ngIf="categories.totalRecords == 0 && checkLoading == true"><em>Không có dữ liệu "{{keyWord}}"</em></h1>
<table class='table table-bordered' aria-labelledby="tableLabel" *ngIf = "checkLoading == true && categories.totalRecords > 0">
  <thead>
    <tr>
      <th>Mã danh mục</th>
      <th>Tên</th>
      <th>Ngày tạo</th>
      <th>Chức năng</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of categories.data; index as i;">
      <td>{{ data.categoryId }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.createdDate | date:'dd-MM-yyyy' }}</td>
      <!--Display current date-->
      <td>
        <button type="button" class="btn btn-outline-info" (click)="specificInformation(i)"> Xem cụ thể</button>
        <button type="button" class="btn btn-outline-warning" style="margin-left: 10px;" (click)="openCreateUpdateModal(true, i)">Sửa</button>
        <button type="button" class="btn btn-outline-danger" style="margin-left: 10px;" (click)="deleteCategory(data.categoryId)">Xóa</button>
        <!--Xóa theo mã danh mục-->
      </td>
    </tr>
  </tbody>
</table>
<!--Phân trang-->
<ul *ngIf = "checkLoading == true && categories.totalRecords > 0" class="pagination">
  <li>
    <a type="button" class="btn btn-secondary" href="javascprit:void(0)" (click)="goPrevious()">Previous</a>
  </li>
  <li class="btn btn-outline-secondary" style="margin-left: 10px;">{{categories.page}}</li>
  <li style="margin-left: 10px;">
    <a type="button" class="btn btn-secondary" href="javascprit:void(0)" (click)="goNext()">Next</a>
  </li>
</ul>

<!-- Specific Information Modal -->
<div class="modal fade" id="specificInformationModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Thông tin danh mục</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><em>Mã danh mục: </em>{{category.categoryId}}</p>
        <p><em>Tên: </em>{{category.name}}</p>
        <p><em>Ngày tạo: </em>{{category.createdDate | date:'dd-MM-yyyy'}}</p>
        <p><em>Mô tả: </em>{{category.description}}</p>
        <p><em>Ghi chú: </em>{{category.note}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="openCreateUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!isEdit" class="modal-title" id="exampleModalLabel">Tạo danh mục</h5>
        <h5 *ngIf="isEdit" class="modal-title" id="exampleModalLabel">Sửa danh mục</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-9">

          </div>
          <div class="col-3">
            <p>* là bắt buộc nhập</p>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            Mã danh mục *
          </div>
          <div class="col-9">
            <input [disabled]="isEdit" class="form-control" [(ngModel)]="category.categoryId" />
          </div>
        </div>
        <br />
        <!---->
        <div class="row">
          <div class="col-3">
            Tên danh mục *
          </div>
          <div class="col-9">
            <input class="form-control" [(ngModel)]="category.name" />
          </div>
        </div>
        <br />
        <!---->
        <div class="row">
          <div class="col-3">
            Ngày tạo *
          </div>
          <div class="col-9">
            <input [disabled]="category.createdDate != 0" class="form-control" [(ngModel)]="dateDisplay" />
          </div>
        </div>
        <br />
        <!---->
        <div class="row">
          <div class="col-12">
            Mô tả
          </div>
        </div>
        <!---->
        <div class="row">
          <div class="col-12">
            <textarea class="form-control" rows=3 [(ngModel)]="category.description"></textarea>
          </div>
        </div>
        <!---->
        <div class="row">
          <div class="col-12">
            Ghi chú
          </div>
          <div class="col-12">
            <textarea class="form-control" rows=3 [(ngModel)]="category.note"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
          <button *ngIf="!isEdit" type="button" class="btn btn-success" (click)="createCategory()">Tạo danh mục</button>
          <button *ngIf="isEdit" type="button" class="btn btn-primary" (click)="updateCategory()">Sửa danh mục</button>
        </div>
      </div>
    </div>
  </div>